*{
	margin: 0px;
	padding: 0px;

}
.header{ 
	height: 70px;
	width: 100%;
	/* background-color :#01579b; */
	display: flex;
	justify-content: center;
	position: fixed;

}
.container{
	width: 90%;
	/*background-color: red;*/
	display: flex;
    
}

.header_container{
	justify-content: space-between;
}

.logo{
	height: 70px;
	width: 15%;
	/*background-color: yellowgreen;*/
	text-align: center;
	font-family: segoe UI;
	font-size: 30px;
	font-weight: bold;
    color: white;
    line-height: 70px;
}
.nav{
	height: 70px;
	width: 35%;
	/*background-color: green;*/
	display: flex;
	justify-content: center;
	align-items: center;


}

.n1{
	height: 70px;
	width: 20%;
	/*background-color: gray;*/
	text-align: center;
	line-height: 70px;
	font-size: 20px;
    color: white;
    cursor: pointer;
	transition: .4s;
	font-family: segoe UI;
}
.n1:hover{
	background-color: white;
	color: #01579b;
}
.banner{
	height: 95vh;
	width: 100%;
	background-color: gray;
	background-image: url('images1/b1.jpg');
	background-size: cover;

}
.overlay{
	height: 95vh;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	display: flex;
	align-items: center;

}
.banner_text{
	height: 350px;
	width:40%;
	background-color: rgba(24, 57,89, 0.4);
	font-family: segoe UI;
	display: flex;
	align-items: center;
	color: white;
	margin-bottom: 15px;
	
}
.banner_title{
	font-size: 30px;
	margin-bottom: 15px ;
}

.padd{
	padding: 20px;
	/* background-color: rgb(196, 40, 40); */

}
.banner_btn{
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-transform: uppercase;
	font-family: segoe UI;
	background-color: transparent;
	font-weight: bold;
	border: 3px solid white;
	cursor: pointer;
	color: white;
	transition: .3s;

}
.banner_desc{
	margin-bottom: 30px;
}

.banner_btn:hover{
	background-color:white;
	color:rgba(16, 128,234, 1);
	

}
 
/* css for services */
.services{
	padding-bottom: 40px;
	padding-top: 40px;
	background-color: rgba(6,16,30, 0.98);
	display: flex;
	align-items: center;
	flex-direction: column;
	font-family: segoe UI;


}
.services_container{
	margin-top: 40px;
	flex-wrap: wrap;
	justify-content: space-between;
	
	 
}
.service{
	height: 400px;
	width: 45%;
	margin-top: 20px;
	 background-color: white;
	 display: flex;
}
.service_img{
	height: 400px;
	width: 40%;
	/* background-color: red; */
	display: flex;
	overflow: hidden;
	background-size: cover;
}
.service_details{
	width: 60%;
	height: 400px;
	/* background-color: green; */
	display: flex;
	align-items: center ;

}
.service_padd{
	padding: 20px;
}
.service_btn
{
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-transform: uppercase;
	font-family: segoe UI;
	background-color: rgba(17, 14, 3, 0.877) ;
	font-weight: bold;
	border: none;
	cursor: pointer;
	color: white;
	transition: .4s;


}
.service_title{
	margin-bottom: 20px;

}
.service_desc{
	margin-bottom: 30px;
}
.about{
	padding-top: 50px;
	padding-bottom: 50px;
	/* background-color: gray; */
	display: flex;
	flex-direction: column;
	font-family: segoe UI;
	align-items: center;
	width: 100%;
}
.about_container{
	margin-top: 20px;
	/* background-color: red; */
	line-height: 35px;
	display: inline;
}
.st_text{
	font-size: 40px;
	font-weight: bold;
	color: rgb(46, 16, 16);
}

/* css for highlight */

.highlight{
	padding-bottom: 60px;
	padding-top: 60px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color:rgba(6,16,30, 0.98) ;

}
.highlight_container{

	justify-content: space-between;
}
.high_ele{
	height: 130px;
	width: 22%;
	background-color:rgba(4, 8, 15, 0.918);
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: segoe UI;
	text-align: center;
	color: white;

}
.high_title{
	font-size: 50px;
	
}
.high_desc{
	font-size: 25px;

}


/* css for quote */
.quote{
	padding-top: 50px;
	padding-bottom: 50px;
	/* background-color: gray; */
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: segoe UI;


}
.quote_container{
	flex-direction: column;
	align-items: center;
}
.quote_title{
	font-size: 50px;
	margin-bottom: 20px; 
}
.quote_button{
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-transform: uppercase;
	font-family: segoe UI;
	background-color: rgba(16, 29,41, 1);
	font-weight: bold;
	border: 3px solid white;
	cursor: pointer;
	color: white;
	transition: .3s;

	
}
.quote_button:hover{
	background-color:white;
	color:rgba(16, 29,41, 1);
}

/* css for portfolio */


.portfolio{
	padding-bottom: 50px;
	padding-top: 50px;
	width: 100%;
	align-items: center;
	font-family: segoe UI;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color:rgba(6,16,30, 0.98);
}
.heading1{
	color: white;
}
.portfolio_container{
	flex-wrap: wrap;
	margin-top: 30px;
	width: 100%;
}
.projects{
	height:350px ;
	width: 20%;
	background-color: red;
	display: flex;
	overflow: hidden;

}
.project1{
	background-image: url('https://images.pexels.com/photos/3944687/pexels-photo-3944687.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
	background-size: cover;
}
.project2{
	background-image: url('https://images.pexels.com/photos/3682239/pexels-photo-3682239.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
	background-size: cover;
	align-items: flex-end;
}
.project3{
	background-image: url('https://images.pexels.com/photos/4386178/pexels-photo-4386178.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
	background-size: cover;
}
.project4{
	background-image: url('https://images.pexels.com/photos/186035/pexels-photo-186035.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
	background-size: cover;
	align-items: flex-end;
}.project5{
	background-image: url('https://images.pexels.com/photos/7427488/pexels-photo-7427488.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
	background-size: cover;
}
.project6{
	background-image: url('https://images.pexels.com/photos/3682292/pexels-photo-3682292.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
	background-size: cover;
}
.project7{
	background-image: url('https://images.pexels.com/photos/2036102/pexels-photo-2036102.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
	background-size: cover;
	align-items: flex-end;
}
.project8{
	background-image: url('https://images.pexels.com/photos/1697220/pexels-photo-1697220.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
	background-size: cover;
}
.project9{
	background-image: url('https://images.pexels.com/photos/7967488/pexels-photo-7967488.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
	background-size: cover;
	align-items: flex-end;
}
.project10{
	background-image: url('https://images.pexels.com/photos/6739946/pexels-photo-6739946.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
	background-size: cover;
}


.project_title{
	color: white;
	background-color: rgba(16, 29,41, 0.4);
	height: 150px;
	text-indent: 40px;
	cursor: pointer;
	transition: .4s;
	width: 100%;
	line-height: 150px;

}
.project_title:hover{
	height:100%;
}

/* css for footer */

.footer{
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: rgba(6,16,30, 0.98);
	display: flex;
	justify-content: center;
}
.footer_container{

}
.footer_child
{
	height: 200px;
	width: 25%;
	/* background-color: rgb(228, 225, 225); */
	font-family: segoe UI;
	
	display: flex;
	justify-content: center;
	
	
}
.footer_logo{
justify-content: space-between;
margin-left: 40px;

}
.footer_child_1{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	color: rgb(35, 104, 150);
	/* margin-left: 40px; */
}
ul{
	margin-top: 10px;

}
li{
	list-style-type: none;
	color: white;
	margin-bottom: 10px;

}
.first{
	font-size: 25px;
	font-weight: bold;
	
}


.footer_child4{
	display: flex;
	justify-content: center;
	align-items: center;

}

.social_container{
	justify-content: space-between;
	width: 60%;
	margin-bottom: 30px;

}
.social_icon{
	height: 50px;
	width: 50px;
	/* background-color: white; */

}
.s1{
	background-image: url('images1/fb.png');
	background-size: cover;
}
.s2{
	background-image: url('images1/gm.png');
	background-size: cover;
}
.s3{
	background-image: url('images1/in.png');
	background-size: cover;
}